<style>
	body {
		overflow-x: hidden;
	}

	#content {
		padding: 0px 0px 0px 0px;
	}

	#map {
		height: 1011px;
		width: 100%;
	}

	.alert {
		margin-bottom: 0px;
		padding: 0px 10px 0px 10px;
	}

	.alert #filtersTitle {
		margin-right: 20px;
	}

	.checkbox {
		display: inline-block;
		margin-right: 20px;
	}
</style>
<div id="content">
	<div class="row" ng-hide="true">
	    <big-breadcrumbs items="['All Areas', 'Map']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>
	<div class="alert alert-info">
		<i class="fa-fw fa fa-filter"></i>
		<strong id="filtersTitle">Filters </strong>
		<strong>Registered Users:</strong>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_known_in($event)">In house</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_known_out($event)">Out of house</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_known_dead($event)">Inactive</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_known_uninstalled($event)">Uninstalled</label>
		</div>
		<strong>Unregistered Users:</strong>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_unknown_in($event)">In house</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_unknown_out($event)">Out of house</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_unknown_dead($event)">Inactive</label>
		</div>
		<div class="checkbox">
		  <label><input type="checkbox" checked ng-click="toggle_unknown_uninstalled($event)">Uninstalled</label>
		</div>
	</div>
	<div class="row">
    	<!-- content -->
    	<div class="col-md-12">
    		<div id="map"></div>
    	</div>
  </div>
</div>
