<style>
    .categoryItemPhoto {
        max-width: 100%;
        max-height: 150px;
    }
    #categoryItemImageContainer {
        margin-bottom: 15px;
    }
    #categoryItemImageContainer .row {
        text-align: center;
        margin-top: 15px;
    }
    #createCategoryItemForm {
        padding: 10px;
    }
    #createCategoryItemForm .form-group label {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        color:#5b5b5b;
    }
    #createCategoryItemForm .form-group .form-control {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        color:#5b5b5b;
    }
    #submit {
        width: 100%;
        margin-bottom: 10px;
    }
</style>

<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Inventory', 'Create Item']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div class="row">
        <section widget-grid id="category-item-create-widget-grid">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                    <div id="category-item-create-widget" 
                    data-widget-sortable 
                    data-jarvis-widget 
                    data-widget-deletebutton 
                    data-widget-colorbutton 
                    data-widget-editbutton 
                    data-widget-togglebutton 
                    data-widget-fullscreenbutton>
                        <header>
                            <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                            <h2>Create an item</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding" id="formWidgetContent">
                                <form id="createCategoryItemForm" ng-submit="createItem()" name="myForm">
                                    <div class="col-md-6" id="categoryItemImageContainer">
                                        <div class="row">
                                            <drop-zone></drop-zone>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select 
                                                        class="form-control"
                                                        ng-options="category as category.EnglishName for category in categorySelect.availableOptions track by category.ID"
                                                        ng-model="categorySelect.selectedOption"
                                                        ng-change="getSubcategories()">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Subcategory</label>
                                                    <select 
                                                        class="form-control"
                                                        ng-disabled="!subcategorySelect.availableOptions"
                                                        ng-options="subcategory as subcategory.EnglishName for subcategory in subcategorySelect.availableOptions track by subcategory.ID"
                                                        ng-model="subcategorySelect.selectedOption">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Arabic Name</label>
                                                    <input class="form-control" type="text" ng-model="item.ArabicName" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Arabic Description</label>
                                                    <input class="form-control" type="text" ng-model="item.ArabicDescription" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Cost</label>
                                                    <input class="form-control" type="number" ng-model="item.Cost" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input class="form-control" type="number" ng-model="item.InventoryCount" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">                                                
                                                <div class="form-group">
                                                    <label>English Name</label>
                                                    <input class="form-control" type="text" ng-model="item.EnglishName" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>English Description</label>
                                                    <input class="form-control" type="text" ng-model="item.EnglishDescription" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input class="form-control" type="number" ng-model="item.Price" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-warning" type="submit" id="submit" 
                                                    ng-disabled="!picFile ||
                                                        !item.EnglishName ||
                                                        !item.ArabicName ||
                                                        !item.Cost ||
                                                        !item.Price ||
                                                        !item.EnglishDescription ||
                                                        !item.ArabicDescription">Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
    