<div class="error-message-page">
    <div class="error-text col-xs-10 col-sm-10 col-md-10 col-lg-10">
        {{error}}
    </div>
    <button type="submit" class="error-close-page col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-click="close()">
        <img src="core/images/Close.png" class="error-close-text">
        <span class="textActionsInventoryManagement">Close</span>
    </button>
</div>
<!--<form class='create-staff-edit-section' ng-submit="save()">-->
<!--<div class='create-staff-wrapper'>-->

<!--<div class='edit-upload-file col-xs-2 col-sm-2 col-md-2 col-lg-2'-->
<!--ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--ngf-accept="'image/*'" ngf-max-size="1MB">-->
<!--<img ng-src="{{staffEdit.photoFile.url}}" class="edit-upload">-->
<!--</div>-->
<!--<div class='uploaded-file col-xs-2 col-sm-2 col-md-2 col-lg-2'-->
<!--ngf-background="file"-->
<!--ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--ngf-accept="'image/*'" ngf-max-size="1MB"></div>-->

<!--<div class='staff-name left col-xs-4 col-sm-4 col-md-4 col-lg-4'>-->
<!--<input type='text' ng-required="true" ng-model='staffEdit.name' placeholder='Enter name'>-->
<!--</div>-->

<!--&lt;!&ndash;<div class='staff-name col-xs-4 col-sm-4 col-md-4 col-lg-4'>&ndash;&gt;-->
<!--&lt;!&ndash;<input type='text' placeholder='Enter new password'>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class='staff-name left col-xs-4 col-sm-4 col-md-4 col-lg-4'>-->
<!--<input type='text' ng-required="true" ng-model='staffEdit.username' placeholder='Enter email'>-->
<!--</div>-->

<!--&lt;!&ndash;<div class='staff-name col-xs-4  col-sm-4 col-md-4 col-lg-4'>&ndash;&gt;-->
<!--&lt;!&ndash;<input type='text' placeholder='Confirm password'>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style="padding-right: 0">-->
<!--<div class="staff-change-photo button fileUpload col-xs-10 col-sm-10 col-md-10 col-lg-10 row"-->
<!--ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
<!--ngf-accept="'image/*'" ngf-max-size="1MB">-->
<!--&lt;!&ndash;Change photo&ndash;&gt;-->
<!--</div>-->
<!--<button type="submit" class="staff-save-button">-->
<!--<img src="core/images/Update.png" class="images-inventory-edit-item-button">-->
<!--<span class="textActionsInventoryManagement">Save</span>-->
<!--</button>-->
<!--</div>-->
<!--</form>-->